<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItem" :fields="fields">
            <template #cell(price)="{ item }">
              ฿{{
                item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
              }}

            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                @click="deleteProduct(item)"
                class="ml-1"
                variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {

    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },

    saveProduct (product) {
      console.log('submit', product)
      if (product._id === '') {
        axios.post('http://localhost:3000/product', product).then(
          function (response) {
            const newProduct = response.data
            this.getProduct()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + ' ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่มสินค้า ' + product._id + ' ได้', 'danger')
        })
      } else {
        axios.put('http://localhost:3000/product/' + product._id, product).then(
          function (response) {
            const updateProduct = response.data
            this.getProduct()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateProduct._id + ' ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('แก้ไขไม่สำเร็จ', 'ไม่สามารถแก้ไขสินค้า ' + product._id + ' ได้', 'danger')
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/product/' + product._id).then(
          function (response) {
            this.getProduct()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + product._id + ' ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบสินค้า ' + product._id + ' ได้', 'danger')
        })
      }
    },
    getProduct () {
      axios.get('http://localhost:3000/product').then(function (response) {
        console.log(response)
        this.productItem = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItem: [

      ],

      selectedItem: null
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
<style></style>
